body {
    background: linear-gradient(45deg, #D3D9D4, #748D92, #124E66, #2E3944);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    margin: 0; 
    object-fit: cover;
}

.container {
    margin-top: 50px;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}

.review-card {
    background: #D3D9D4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.review-header {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.review-rating {
    color: #ffcc00;
    font-size: 1.25rem;
}

.review-feedback {
    font-style: italic;
    flex: 1;
}

.review-date {
    font-size: 0.9rem;
    color: #6c757d;
    text-align: right;
}

.no-reviews {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #6c757d;
}

.back-btn {
    margin-top: 30px;
    display: block;
    text-align: center;
}

.back-btn a {
    text-decoration: none;
    color: white !important;
    background-color: #2E3944;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.back-btn a:hover {
    cursor: pointer;
    background-color: #1f2429;
}

.review-count {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filter-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-icon {
    font-size: 1.5rem;
}

.dropdown-menu {
    min-width: 150px;
}

.navbar .fa-user-circle {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .navbar-nav .nav-link {
        padding: 0.5rem 0;
        text-align: center;
    }

    .navbar .me-3 {
        font-size: 0.875rem;
        margin-bottom: 0;
    }

    .studentProfile {
        background: #ECECEC;
        color: #276792;
        padding: 5px;
    }
}

@media (max-width : 200px) {
    .navbar .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}

nav {
    background: #ECECEC;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1040;
    display: none;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    display: none;
}