body{
    /* background: linear-gradient(45deg, #748D92, #748D92,#124E66,#2E3944); */
    background: linear-gradient(45deg, #2E3944, #124E66);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    margin: 10px;
    overflow: hidden;
}

.container {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 252, 252, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 300px; 
}

.card-body {
    flex: 1;
}

.pay-on-hotel {
    background: #b0dde6;
    color: black;
}

.pay-online {
    background: #b0dde6;
    color: black;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 30); 
}

.pay-online h5{
    font-weight: bold;
}

.pay-on-hotel h5{
    font-weight: bold;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1040;
    display: none;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    display: none;
}